.track {
  container-type: inline-size;

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  align-items: center;
  justify-items: start;

  color: var(--clr-text);
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
  transition: background-color 200ms ease-out;

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--clr-purple) h s 20%);
  }

  img {
    border-radius: 0.5rem;
  }
}

.track__info {
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;

  width: 100%;

  p {
    text-wrap: pretty;
  }
}

@container (min-width: 500px) {
  .track__info {
    grid-template-columns: repeat(2, minmax(175px, 1fr));
    gap: 1rem;
  }
}
