.track {
  container-type: inline-size;

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  align-items: center;
  justify-items: start;

  color: var(--clr-neutral-100);
  /* background-color: transparent; */
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  width: 100%;
  transition: background-color 200ms ease-out;

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--clr-purple) h s 20%);
  }

  img {
    border-radius: 0.5rem;
    max-width: 2.5rem;
    aspect-ratio: 1;
    height: 100%;
    object-fit: cover;
  }
}

.track__info {
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;

  width: 100%;

  p {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@container (min-width: 500px) {
  .track img {
    max-width: 4rem;
  }

  .track__info {
    grid-template-columns: repeat(2, minmax(175px, 1fr));
    gap: 1rem;
  }
}

@container (min-width: 1000px) {
  .track {
    padding: 0.5rem 1rem;
  }
}
