.edit-dialog {
  --_spacer: 1rem;

  container-type: inline-size;

  display: block;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--clr-bg);
  border-color: var(--clr-neutral-100);
  border-radius: 1rem;
  box-shadow: 0 2px 100px rgba(0, 0, 0, 0.5);
  width: min(30rem, 80%);
}

.edit-dialog__form-wrapper {
  padding: var(--_spacer);
}

.edit-dialog form {
  display: grid;
  gap: var(--_spacer);
}

.edit-dialog input,
.edit-dialog textarea {
  color: var(--clr-neutral-000);
  font-size: var(--fs-small);
  font-family: inherit;
  background: none;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 0.25rem;
  padding: var(--_spacer);
  width: 100%;
}

.edit-dialog textarea {
  resize: none;
  aspect-ratio: 4 / 1;
}

.edit-dialog__button-wrapper {
  display: flex;
  justify-content: end;
  gap: var(--_spacer);
}

.edit-dialog button {
  color: var(--clr-neutral-100);
  background-color: transparent;
  border: 1px solid var(--clr-neutral-100);
  border: 1px solid hsl(from var(--clr-purple) h s 30%);
  border-radius: 0.25rem;
  padding: calc(var(--_spacer) / 2) var(--_spacer);
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &:hover, &:focus-visible {
    color: var(--clr-neutral-000);
    background-color: hsl(from var(--clr-purple) h s 20%);
    border-color: var(--clr-neutral-100);
  }
}

.edit-dialog [type="submit"] {
  background-color: var(--clr-blue);
  border-color: transparent;

  &:hover,&:focus-visible{
    background-color: hsl(from var(--clr-blue) h s 52%);
  }
}

@container (min-width: 29rem) {
  .edit-dialog__form-wrapper {
    padding: calc(var(--_spacer) * 2);
  }
}
