.playlist-skeleton {
  --_skeleton-color: hsl(from var(--clr-purple) h s 20%);
  --_skeleton-border-radius: 0.25rem;

  display: grid;
  gap: 1rem;
}

.playlist-skeleton__head {
  width: 100%;
}

.playlist-skeleton__info {
  width: 100%;
}

.playlist-skeleton__title {
  height: 2rem;
  width: 60%;
}

.playlist-skeleton__info-group span {
  &:first-of-type {
    width: 40%;
  }

  &:last-of-type {
    width: 30%;
  }
}

.playlist-skeleton__description {
  display: grid;
  gap: 1ch;

  span {
    display: block;
    width: 80%;

    &:last-of-type {
      width: 60%;
    }
  }
}

.playlist-skeleton__track {
  height: 3.5rem;
}

@container (min-width: 500px) {
  .playlist-skeleton__track {
    height: 5rem;
  }
}
