.playlist-card {
  --_playlist-card-animation-duration: 500ms;

  display: grid;
  gap: 0.5rem;

  background-color: transparent;
  border-radius: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: background-color var(--_playlist-card-animation-duration) ease;

  > img {
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    transition: scale var(--_playlist-card-animation-duration) ease;
  }

  .playlist-card__info {
    color: var(--clr-neutral-100);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    p:not(:first-of-type) {
      font-size: var(--fs-small);
      &.skeleton {
        max-width: 9ch;
      }
    }
    p:first-of-type.skeleton {
      height: var(--fs-normal);
    }
  }

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--clr-purple) h s 20%);

    > img {
      scale: 1.02;
    }
  }
}

.playlist-card__image {
  aspect-ratio: 1;
}
