.playlist-wrapper {
  container-name: playlist-wrapper;
  container-type: inline-size;

  .playlist {
    --_playlist-padding: 1rem;
    --_playlist-gap: 1rem;

    display: grid;
    gap: var(--_playlist-gap);

    .playlist__head-wrapper {
      container-name: playlist__head-wrapper;
      container-type: inline-size;

      .playlist__head {
        display: grid;
        gap: var(--_playlist-gap);

        .playlist__image-wrapper {
          justify-self: center;

          position: relative;

          border-radius: 1rem;
          overflow: clip;
          width: min(15rem, 100%);
          height: 100%;
          aspect-ratio: 1;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .playlist__edit-btn {
            position: absolute;
            inset: 0;

            background-color: transparent;
            border: 1px solid var(--clr-neutral-100);
            border: none;
            border-radius: 0.25rem;
            height: 100%;
            width: 100%;
            transition: all 300ms ease-in-out;

            svg {
              opacity: 0;
            }

            &:hover,
            &:focus-visible {
              background-color: hsl(from var(--clr-neutral-900) h s l / 0.6);

              svg {
                opacity: 1;
              }
            }
          }

          &:focus-within {
            outline: 2px solid var(--clr-neutral-000);
          }
        }

        .playlist__info {
          display: grid;
          gap: var(--_playlist-gap);
        }
      }
    }

    .playlist__body {
      .playlist__tracks {
        display: grid;
        gap: calc(var(--_playlist-gap) / 2);

        list-style: none;
        overflow: visible !important;
      }
    }
  }
}

@container playlist__head-wrapper (500px < width < 1000px) {
  .playlist-wrapper .playlist .playlist__head-wrapper {
    .playlist__head {
      display: flex;

      .playlist__image-wrapper {
        flex-shrink: 0;
      }

      .playlist__info {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@container playlist-wrapper (min-width: 1000px) {
  .playlist-wrapper .playlist {
    grid-template-columns: auto 1fr;

    .playlist__head-wrapper {
      position: sticky;
      top: var(--_page-wrapper-padding-top);
      height: calc(
        100vh - var(--_page-wrapper-padding-top) -
          var(--_page-wrapper-padding-bottom)
      );
      width: 300px;

      .playlist__head .playlist__image-wrapper {
        justify-self: start;
      }
    }
  }
}
