.playlist-wrapper {
  container-name: playlist-wrapper;
  container-type: inline-size;

  .playlist {
    --_playlist-padding: 1rem;
    --_playlist-gap: 1rem;

    display: grid;
    gap: var(--_playlist-gap);

    padding: var(--_playlist-padding);

    .playlist__head-wrapper {
      container-name: playlist__head-wrapper;
      container-type: inline-size;

      .playlist__head {
        display: grid;
        gap: var(--_playlist-gap);

        .playlist__image-wrapper {
          justify-self: center;

          border-radius: 1rem;
          overflow: clip;

          img {
            width: 15rem;
            aspect-ratio: 1;
            height: 100%;
            object-fit: cover;
          }
        }

        .playlist__info {
          display: grid;
          gap: var(--_playlist-gap);
        }
      }
    }

    .playlist__body {
      .playlist__tracks {
        display: grid;
        gap: calc(var(--_playlist-gap) / 2);

        list-style: none;
        overflow: visible !important;
      }
    }
  }
}

@container playlist__head-wrapper (500px < width < 1000px) {
  .playlist-wrapper .playlist .playlist__head-wrapper {
    .playlist__head {
      display: flex;

      .playlist__image-wrapper {
        flex-shrink: 0;
      }

      .playlist__info {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@container playlist-wrapper (min-width: 1000px) {
  .playlist-wrapper .playlist {
    grid-template-columns: auto 1fr;

    .playlist__head-wrapper {
      position: sticky;
      inset: var(--_playlist-padding) auto var(--_playlist-padding)
        var(--_playlist-padding);
      height: calc(100vh - 2 * var(--_playlist-padding));
      width: 300px;
    }
  }
}
