.frequency-bars {
  display: flex;
  gap: 0.225rem;
  align-items: center;
  justify-content: center;
}

.bar {
  background-color: var(--clr-neutral-100);
  border-radius: 2px;
  height: calc(2.5rem + (var(--i, 0) * -2px));
  width: 0.375rem;
  transition: all 200ms ease-out;

  &:hover {
    background-color: var(--clr-blue);
    scale: 1.5;
  }
  &:has(+ .bar:hover),
  &:hover + .bar {
    background-color: hsl(from var(--clr-blue) h s 60%);
    scale: 1.375;
  }
  &:has(+ .bar + .bar:hover),
  &:hover + .bar + .bar {
    background-color: hsl(from var(--clr-blue) h s 70%);
    scale: 1.25;
  }
  &:has(+ .bar + .bar + .bar:hover),
  &:hover + .bar + .bar + .bar {
    background-color: hsl(from var(--clr-blue) h s 80%);
    scale: 1.125;
  }
  &:has(.bar + .bar + .bar + .bar:hover),
  &:hover + .bar + .bar + .bar + .bar {
    background-color: hsl(from var(--clr-blue) h s 90%);
  }
}

.frequency-bars-nav {
  --_frequency-bars-nav-inset: 2rem auto auto
    calc(var(--_nav-mobile-height) / 2);
  
  gap: 0.1rem;

  position: fixed;
  inset: var(--_frequency-bars-nav-inset);
  transform: translateX(-50%) !important;

  .bar {
    height: calc(0.5rem + (var(--i, 0) * -2px));
    width: 0.125rem;
  }
}

@media (max-width: 700px) {
  .frequency-bars-nav {
    display: none;
  }
}
