.recommend-view {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & > section {
    display: grid;
    gap: 1rem;

    &:first-of-type {
      gap: 1.25rem;
    }
  }
}

.view-more {
  display: flex;
  justify-content: center;
  text-align: center;

  a {
    text-decoration: none;
  }
  
  .skeleton {
    width: 8ch;
    height: var(--fs-normal);
    display: inline-block;
  }
}

.recommended__header-title {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.recommended-genre {
  display: inline-block;
  &.skeleton {
    width: 10ch;
  }
}
