.playlist-dialog {
  --_spacer: 1rem;

  container-type: inline-size;

  display: block;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--clr-bg);
  border-color: var(--clr-neutral-100);
  border-radius: 1rem;
  box-shadow: 0 2px 100px rgba(0, 0, 0, 0.5);
  width: min(30rem, 80%);
}

.playlist-dialog__form-wrapper {
  padding: var(--_spacer);
}

.playlist-dialog form {
  display: grid;
  gap: var(--_spacer);
}

.playlist-dialog input,
.playlist-dialog textarea {
  color: var(--clr-neutral-000);
  font-size: var(--fs-small);
  font-family: inherit;
  background: none;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 0.25rem;
  padding: var(--_spacer);
  width: 100%;
}

.playlist-dialog textarea {
  resize: none;
  aspect-ratio: 4 / 1;
}

.playlist-dialog__button-wrapper {
  display: flex;
  justify-content: end;
  gap: var(--_spacer);
}

@container (min-width: 29rem) {
  .playlist-dialog__form-wrapper {
    padding: calc(var(--_spacer) * 2);
  }
}
