.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  height: 100%;
  width: 100%;

  .error__status-code-wrapper {
    overflow: clip;
    line-height: 1;

    .error__status-code {
      display: block;
      font-size: 20dvw;
      transform: translate(0, 100%);
      will-change: transform;
      animation: reveal 1.5s ease forwards;
    }
  }
  .error__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: fit-content;

    h1 {
      font-size: var(--fs-normal);
      text-transform: uppercase;
    }

    h2 {
      font-size: var(--fs-small);

      color: var(--clr-neutral-000);
      margin-top: 1rem;
    }
  }

  .error__cta {
    align-self: center;
    text-decoration: none;
  }
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
