.playlists-wrapper {
  container-name: playlists-wrapper;
  container-type: inline-size;
}

.playlists {
  container-name: playlists;
  container-type: inline-size;

  padding: 4rem 1rem;

  .playlist-grid {
    --_playlist-grid-column-width: 150px;
    --_playlist-grid-gap: 1rem;

    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--_playlist-grid-column-width), 1fr)
    );
    gap: var(--_playlist-grid-gap);

    list-style: none;

    .playlist-card__info p {
      display: -webkit-box;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: unset;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@container playlists-wrapper (min-width: 750px) {
  .playlists-wrapper {
    .playlists {
      padding-inline: 3rem;
    }
  }
}

@container playlists (min-width: 1000px) {
  .playlists .playlist-grid {
    --_playlist-grid-column-width: 200px;
    --_playlist-grid-gap: 2rem;
  }
}
