.global-player {
	position: fixed;
	z-index: 9999;
	/* background-color: hsl(from var(--clr-neutral-900) h s l / 0.6); */
	background-color: black;
	width: 100dvw;
	padding: 0 2rem 0 2rem;
	display: flex;
}

.player--button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--clr-neutral-400);

	width: 100%;
	transition: all 0.2s ease-in-out;
	&:hover,
	&:focus-visible {
		color: var(--clr-neutral-000);
	}
}

.player--wrapper__left {
	container-type: inline-size;

	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 1rem;
	align-items: center;
	justify-items: start;

	color: var(--clr-neutral-600);
	background-color: transparent;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 0;
	width: 100%;
	transition: background-color 200ms ease-out;

	/* &:hover,
	&:focus-visible {
		background-color: hsl(from var(--clr-purple) h s 20%);
	} */

	.player--img {
		border-radius: 0.5rem;
		max-width: 3.5rem;
		aspect-ratio: 1;
		height: 100%;
		object-fit: cover;
	}
	.player--info__wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.3em;
		justify-content: center;
		.player--currentTrackName {
			font-size: var(--fs-normal);
			display: -webkit-box;
			line-clamp: 1;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			white-space: unset;
			word-break: break-all;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.player--currentTrackArtists {
			font-size: var(--fs-small);
		}
	}
}

.player--wrapper__right {
	display: flex;
	gap: 1rem;
	button {
		background-color: transparent;
		border: none;
	}
}

/* <div className="global-player">
			<div className="player--wrapper__left">
				<img
					className="player--img"
					src={currentTrack.album.images[0]?.url}
					alt={currentTrack.name}
					width={100}
					height={100}
				/>

				<div>
					<div className="player--currentTrackName">{currentTrack.name}</div>
					<div className="player--currentTrackArtists">
						{currentTrack.artists[0]?.name}
					</div>
				</div>
			</div>
			<div className="player--wrapper__right">
				<button className="player--button" onClick={skipToPrevious}>
					Prev
				</button>

				<button className="player--button" onClick={togglePlayPause}>
					{isPaused ? "Play" : "Pause"}{" "}
				</button>

				<button className="player--button" onClick={skipToNext}>
					Next
				</button>
			</div>
		</div> */
