.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: sticky;
  inset: 0 auto 0 0;

  background: linear-gradient(
      217deg,
      hsl(from var(--clr-neutral-900) h s 5% / 0.8),
      hsl(from var(--clr-neutral-900) h s 5%) 70.71%
    ),
    linear-gradient(
      127deg,
      hsl(from var(--clr-neutral-800) h s l / 0.8),
      hsl(from var(--clr-neutral-800) h s l) 70.71%
    ),
    linear-gradient(
      336deg,
      hsl(from var(--clr-purple) h s 70% / 0.8),
      hsl(from var(--clr-purple) h s 70%) 70.71%
    );
  height: 100vh;
  width: 5rem;
  padding: 0.5rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    list-style: none;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;

      a {
        &.active {
          color: var(--clr-neutral-000);

          svg:last-of-type {
            filter: blur(5px);
          }
        }

        & svg:last-of-type {
          position: absolute;
          z-index: -1;
          opacity: 0.85;
        }
      }

      a,
      button {
        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--clr-neutral-400);
        width: 100%;
        transition: all 0.2s ease-in-out;

        &:hover,
        &:focus-visible {
          color: var(--clr-neutral-000);
        }
      }

      span {
        position: absolute;
        top: 50%;
        left: 4rem;

        visibility: hidden;
        opacity: 0;
        text-wrap: nowrap;
        transform: translateY(-50%);
        border: 1px solid black;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--clr-neutral-900);
        color: var(--clr-neutral-000);
        font-size: var(--fs-small);
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

        transition: all 200ms ease-in-out;
        transition-delay: 200ms;
      }

      a:hover + span,
      a:focus-visible + span,
      button:hover + span,
      button:focus-visible + span {
        z-index: 99;
        visibility: visible;
        opacity: 1;
      }
    }

    li:nth-last-child(2) {
      margin-top: auto;
    }
  }
}
