.nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  inset: 0 auto 0 0;
  z-index: 9999;
  background-color: hsl(from var(--clr-neutral-900) h s l / 0.6);
  width: 5rem;

  ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    width: inherit;
    padding-block: 5rem;
    align-items: center;
  }

  ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: max-content;
  }

  ul li a {
    &.active {
      color: var(--clr-neutral-000);
      svg:last-of-type {
        filter: blur(5px);
      }
    }

    & svg:last-of-type {
      position: absolute;
      z-index: -1;
      opacity: 0.85;
    }
  }

  ul li a,
  ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-neutral-500);
    width: max-content;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus-visible {
      color: var(--clr-neutral-000);
    }
  }

  ul li:nth-last-child(2) {
    margin-top: auto;
  }
}

@media (max-width: 700px) {
  .nav {
    align-items: center;
    position: fixed;
    inset: auto 0 0 0;
    z-index: 9999;

    background-color: var(--clr-neutral-900);
    width: 100%;
    height: var(--_nav-mobile-height);
  }
  .nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    position: static;
    padding: 0;
    li {
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      gap: 0.5rem;

      .tooltip {
        display: flex;
        position: static;
        border: none;
        color: var(--clr-neutral-500);
        opacity: 1;
        visibility: visible;
        transform: translateY(-100%) !important;
        padding: 0;
        box-shadow: none;
        transition-delay: 0s;
        font-size: var(--fs-small);
      }
    }
    a,
    button {
      height: 100%;
      min-width: 100%;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    button:hover + span,
    a:hover + span {
      color: var(--clr-neutral-000);
    }
    a.active + span {
      color: var(--clr-neutral-000);
    }
  }
  .nav ul li:nth-last-child(2) {
    margin-top: 0;
  }
}
