.dialog form {
  display: grid;
  gap: var(--_dialog-spacer);
}

.dialog input,
.dialog textarea {
  color: var(--clr-neutral-000);
  font-size: var(--fs-small);
  font-family: inherit;
  background: none;
  border: 1px solid var(--clr-neutral-600);
  border-radius: 0.25rem;
  padding: var(--_dialog-spacer);
  width: 100%;
}

.dialog textarea {
  resize: none;
  aspect-ratio: 4 / 1;
}

.playlist-dialog__checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;

  font-size: small;

  input[type="checkbox"] {
    display: flex;
    align-items: center;
    justify-content: center;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    transition: all 200ms ease;

    &:checked {
      background-color: var(--clr-blue);
    }

    &:checked::before {
      content: "\2713";
      display: block;
      color: var(--clr-neutral-000);
      font-size: 2rem;
      line-height: 20px;
    }
  }
}
